<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>Register</title>
    {% load static %} 
    <link rel="stylesheet" href="{% static 'auth_app/style.css' %}">
   
</head>
<style>
    body{
        background-image: url('{% static "/img/studio_ghibli.jpg" %}');

    }
    
</style>
<body>
    <div class="wrapper"> 
        <div class="container">
    <h3 align = "center"> You are in, click the button below to login! </h1>
    <a href="http://127.0.0.1:8000">
        <input type="button" name="Login" value="Login"/>
    </a>

</div>
</div>
</body>
</html>
