<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>Register</title>
    {% load static %} 
    <link rel="stylesheet" href="{% static 'auth_app/style.css' %}">
   
</head>
<style>
    body{
        background-image: url('{% static "/img/studio_ghibli.jpg" %}');

    }
    
</style>
<body>
    <div class="wrapper">
    <div class="reg_container">
    <h1 align = "center"> Let's embark on a new journey.</h1>
    <form method = "POST">  
        {% csrf_token %}
    
        {{form.as_p}}

        
        <input type = "submit" value = "Register"/>
        

    </form>
</div>
</div>
</body>
</html>